<div class="container">
  <div class="top">
    <!-- <div class="page-title">
      E-levy Calculator
    </div> -->
  </div>
  <div class="mid">
    <div class="product">
      <div class="product-title">
        E-levy Calculator
      </div>

      <div class="content">
        <div class="content-1">
          After the adoption and passing of the Electronic Transfer Levy Act, 2022 (Act 1075) by the government of Ghana, a Levy of <b>1.5%</b> was imposed on electronic transfers. This Levy is charged to the transferor at the time of transfer.

        </div>
        <div class="content-2">
          After its introduction, reports and observations  indicated that majority of the general public did not understand the implementation. Hence, there was the need to design an intuitive app that will help the general public understand the implementation by calculating the elevy charge and other service charges that is applied to the amount they intended to transfer.


        </div>
      </div>

      <div class="features">
        <div>
          <img src="../../../assets/img/elevy-shot-1-min.jpg" alt="">
        </div>
        <div>
          <img src="../../../assets/img/elevy-shot-2-min.jpg" alt="">
        </div>
        <div>
          <img src="../../../assets/img/elevy-shot-3-min.jpg" alt="">
        </div>
        <div>
          <img src="../../../assets/img/elevy-shot-4-min.jpg" alt="">
        </div>
      </div>
      <!-- <div class="content" [innerHtml]="product.content">

      </div> -->

    </div>

    <div class="download">
      <a href="../../../assets/dfiles/E-levy Calculator.apk" download="E-levy Calculator.apk"><i class="fa fa-download" aria-hidden="true"></i> Download APK for Android</a>

    </div>

  </div>
</div>
