<div class="header">
  <a [routerLink]="['/']">
    <div class="brand-name">
      <div class="bg-title">N U T O N</div> <span class="sm-title">LABS</span>
    </div>
  </a>

  <div (click)="toggle()" class="toggle-btn"><i class="fa fa-bars" aria-hidden="true"></i></div>
  <nav class="menu">

    <ul>
      <li><a href="#about">why us</a> </li>
      <li><a href="#services">services</a> </li>
      <li><a href="#projects">projects</a> </li>
      <li class="contact"><a href="tel:+233270977722"><i class="fa fa-phone" aria-hidden="true"></i> +233 270 977 722</a></li>
    </ul>
  </nav>

  <nav class="mb-menu {{showMbMenu}}">
    <div (click)="hideMenu()" class="close-btn "><i class="fa fa-times" aria-hidden="true"></i></div>
    <ul>
      <li (click)="hideMenu()"><a href="#about">why us</a> </li>
      <li (click)="hideMenu()"><a href="#services">services</a> </li>
      <li (click)="hideMenu()"><a href="#projects">projects</a> </li>
      <li (click)="hideMenu()" class="contact"><a href="tel:+233270977722"><i class="fa fa-phone" aria-hidden="true"></i> +233 270 977 722</a></li>
    </ul>
  </nav>
</div>
