.header{
  top: 0;
  height: 4.5rem;
  background: #FFF;//1a61ac;
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem;
  color: red;//#FFC107;
  font-size: 1.5rem;
  font-weight: 500;
  position: sticky;
  z-index: 10000;
}

.brand-name{
  display: flex;
}

.bg-title{
  font-size: 2rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sm-title{
  // writing-mode: vertical-lr;
  font-size: .8rem;
  display: inline;
  font-weight: 600;
}

.menu{
  font-size: .9rem;
  text-transform: uppercase;
}

ul{
  list-style: none;
}

li{
  display: inline;
  padding: .4rem;
  line-height: 3;
  margin: .4rem;
  // color: red;
}
li:hover{
  border-bottom: 2px red solid;
}
a{
  text-decoration: none;
  color: red;
}

.contact{
  border: 2px red solid;
}

// .contact:hover a{
//   background: red;
// }

.contact a:hover{
  color: #FFF;
  background: red;
}
// .contact a{
//   color: #fff;
// }

.toggle-btn{
  display: none;
}

.hide{
  display: none !important;
}

.show{
  display: block;
}

@media (max-width: 786px){
  .header{
    padding: 1rem;
  }
  .toggle-btn{
    display: inline-block;
  }

  .menu{
    display: none;
  }

  .mb-menu{
    display: flex;
    flex-direction: column;
    background-color: red;
    text-transform: uppercase;
    position: fixed; /* Sit on top of the page content */
  // display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  }

  .mb-menu ul{
    list-style: none;
    color: #FFF;
  }

  .mb-menu ul li{
    display: block;
    color: #FFF;
    text-align: center;
    border-bottom: 1px #fff solid;
  }

  .mb-menu ul li a{
    color: #FFF;

  }

  .close-btn{
    text-align: right;
    padding: 2rem;
  }

  .close-btn .fa{
    color: #FFF;
    font-size: 3rem;
  }

  .bg-title{
    font-size: 1.5rem;
  }

  .sm-title{
    font-size: .7rem;
  }
}
