footer{
  height: 80vh;
  background: red;
  padding: 5rem 7rem;
  display: flex;
  justify-content: space-between;
}

.brand-name{
  display: flex;
}

.bg-title{
  font-size: 2rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sm-title{
  // writing-mode: vertical-lr;
  font-size: .8rem;
  display: inline;
  font-weight: 600;
  color: rgb(92, 5, 5);
}

.ft-child{
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.ft-title{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;

}

ul{
  padding-top: 2rem;
  list-style: none;
  font-size: .9rem;
}

li{
  padding: .5rem 0;
}

li:hover{
  color: rgb(92, 5, 5);
  cursor: pointer;
}

@media (max-width: 786px){
  footer{
    flex-direction: column;
    padding: 2rem 1rem;
    min-height: 100vh;
    height: 100%;
  }

  .ft-child{
    margin-bottom: 2rem;
  }

  ul{
    padding-top: 1rem;
  }
}
