footer{
  height: 90vh;
  background: red;
  // padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
}

.top, .mid, .bottom{
  padding: 2rem 7rem;
  display: flex;
  justify-content: space-between;
}

.top{
  background: #FCF7F7;
  color: red;
  // border-top: 2px red solid;
}

.top a{
  text-decoration: none;
  color: red;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
  padding-bottom: .2rem;
  border-bottom: 3px red dashed;
}

.top div{
  color: #333;
}

.bottom{
  background: #333;
  color: #FFF;
  font-size: .9rem;
  position: relative;
}

// .bottom-text{
//   position: absolute;
//   right: 40%;
//   transition: right 1s linear;
// }

// .bottom:hover .bottom-text{
//   transform: translateY(0);
//   opacity: 1;
//   // right: 66%;
// }

// .reveal{
//   position: relative;
//   transform: translateY(30px);
//   opacity: 0;
//   transition: 1s all ease;
// }



.brand-name{
  display: flex;
}

.bg-title{
  font-size: 2rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sm-title{
  // writing-mode: vertical-lr;
  font-size: .8rem;
  display: inline;
  font-weight: 600;
  color: rgb(92, 5, 5);
}

.ft-child{
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.ft-title{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;

}

ul{
  padding-top: 2rem;
  list-style: none;
  font-size: .9rem;
}

li{
  padding: .5rem 0;
}

li a{
  text-decoration: none;
  color: #fff;
}

li a:hover{
  //color: rgb(92, 5, 5);
  text-decoration: underline;
}

@media (max-width: 786px){
  footer{
    flex-direction: column;
    // padding: 2rem 1rem;
    // min-height: 100vh;
    height: 100%;
  }

  .top, .mid, .bottom{
    padding: 1rem;
    flex-direction: column;
  }

  .top{
    justify-content: center;
    align-items: center;
  }

  .top div{
    margin: .5rem;
    margin-bottom: 1rem;
  }

  .top a{
    font-size: 1rem;
    font-weight: 600;
    padding: 0 .2rem;
    margin: 0;
  }

  .ft-child{
    margin-bottom: 2rem;
  }

  ul{
    padding-top: 1rem;
  }
}
