<footer>
  <div class="top">
    <div class="contact">
      Talk to us 24/7 on  <a href="tel:+233270977722"><i class="fa fa-phone" aria-hidden="true"></i> 233-270-977-722</a>
    </div>
    <div class="newsletter">
      Or email us on <a href="mailto:info@nutonlabs.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@nutonlabs.com</a>
    </div>
  </div>

  <div class="mid">
    <div class="ft-child">
      <div class="brand-name">
        <div class="bg-title">N U T O N</div> <span class="sm-title">LABS</span>
      </div>

      <div class="ft-body">
        <ul>
          <li>Phone: <a href="tel:+233270977722">+233 270 977 722</a></li>
          <li>Email: <a href="mailto:info@nutonlabs.com">info@nutonlabs.com</a></li>
        </ul>
       </div>
    </div>


    <div class="ft-child">
      <div class="ft-title">
        services
      </div>
      <div class="ft-body">
        <ul>
          <li>Cloud Solutions</li>
          <li>Mobile App Development</li>
          <li>Web App Development</li>
          <li>Network Solutions</li>
          <li>E-commerce</li>
          <li>Domain Name Registration</li>
          <li>Custom Designs</li>
          <li>I.T Training</li>
        </ul>
      </div>
    </div>

    <div class="ft-child">
      <div class="ft-title">
        products
      </div>
      <div class="ft-body">
        <ul>
          <li>mBanQ</li>
          <li>MMA Shop</li>
          <li>E-Levy Calculator</li>
          <li>EvaSafe</li>
          <li>MartZone</li>

        </ul>
      </div>
    </div>

    <div class="ft-child">
      <div class="ft-title">
        resources
      </div>
      <ul>
        <li>Blog</li>
        <li>News</li>
      </ul>
    </div>
  </div>

  <div class="bottom">
    &copy; 2022 NutonLabs I.T Solutions. All Rights Reserved.
  </div>


</footer>
