<footer>
  <div class="brand-name">
    <div class="bg-title">N U T O N</div> <span class="sm-title">LABS</span>
  </div>

  <div class="ft-child">
    <div class="ft-title">
      services
    </div>
    <div class="ft-body">
      <ul>
        <li>Cloud Solutions</li>
        <li>Mobile App Development</li>
        <li>Web App Development</li>
        <li>Network Solutions</li>
        <li>Domain Registration</li>
        <li>Custom Designs</li>
        <li>I.T Training</li>
      </ul>
    </div>
  </div>

  <div class="ft-child">
    <div class="ft-title">
      products
    </div>
    <div class="ft-body">
      <ul>
        <li>mBanQ</li>
        <li>MMA Shop</li>
        <li>E-Levy Calculator</li>
        <li>EvaSafe</li>
        <li>MartZone</li>

      </ul>
    </div>
  </div>

  <div class="ft-child">
    <div class="ft-title">
      misc
    </div>

    <ul>
      <li>Blog</li>
      <li>News</li>
      <li>Contact</li>


    </ul>
  </div>

</footer>
