<div class="container">
  <div class="top">
    <div class="page-title">
      Products
    </div>
  </div>
  <div class="mid">
    <div class="products">
      <div class="product-card">
        <div class="product-logo">
          <i class="fa fa-university" aria-hidden="true"></i>
        </div>
        <div class="product-title">
          NuBanQ
        </div>
        <div class="product-desc">
          Lorem ipsum dolor sit amet. Et aspernatur quod ex voluptas quidem qui odit possimus!
        </div>
        <div class="more">
          <p>Learn more</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-logo">
          <i class="fa fa-calculator" aria-hidden="true"></i>
        </div>
        <div class="product-title">
          E-levy Calculator
        </div>
        <div class="product-desc">
          Lorem ipsum dolor sit amet. Et aspernatur quod ex voluptas quidem qui odit possimus!
        </div>
        <div class="more">
          <p>Learn more</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-logo">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div class="product-title">
          NuShop
        </div>
        <div class="product-desc">
          Lorem ipsum dolor sit amet. Et aspernatur quod ex voluptas quidem qui odit possimus!
        </div>
        <div class="more">
          <p>Learn more</p>
        </div>
      </div>
    </div>

  </div>
</div>
