<div class="container">
  <div class="top">
    <div class="page-title">
      Products
    </div>
  </div>
  <div class="mid">
    <div class="products">
      <div class="product-card">
        <div class="product-logo">
          <i class="fa fa-university" aria-hidden="true"></i>
        </div>
        <div class="product-title">
          NuBanQ
        </div>
        <div class="product-desc">
          A comprehensive savings and loans management system for microfinance and banks.
        </div>
        <div class="more">
          <p>Learn more</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-logo">
          <img src="../../assets/img/elevy.min.png" alt="e-levy calculator logo">
          <!-- <i class="fa fa-calculator" aria-hidden="true"></i> -->
        </div>
        <!-- <div class="product-title">
          E-levy Calculator
        </div> -->
        <div class="product-desc">
          An intuitive app for the calculation of e-levy and other service charges applied when making electronic transactions in Ghana.
        </div>
        <div class="more">
          <a routerLink="/products/e-levy-calculator">Learn more</a>
        </div>
      </div>
      <div class="product-card">
        <div class="product-logo">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div class="product-title">
          NuShop
        </div>
        <div class="product-desc">
          An e-commerce platform that can be customised to meet your online business needs.
        </div>
        <div class="more">
          <p>Learn more</p>
        </div>
      </div>
    </div>

  </div>
</div>
