<div class="container">
  <div class="top">
    <div class="page-title">
      Website & SEO
    </div>
  </div>
  <div class="mid">
    <div class="content">
      <p>
        In this digital era, having a <b>website</b> and online presence is crucial to any business. If you have a business and don’t have a website,
        you are probably losing out on a lot of opportunities for your business. In today's world, majority of people begin their search for a product or service
        online using their mobile phones and laptops. They are busy and also smart. They have no time to visit the shop. They search the Internet to know about the product
        or service before purchasing. They can know about the brand, features, price, size, color through your website.
        It is therefore important to strategically place yourself and business where these people first go
        when they need a product or service. And that place is the Internet.
      </p>

      <p>
        A well designed, informative and up-to-date website on the Internet will add credibility to your business and strengthen your brand.
        You can look at it as a long-term marketing strategy that creates avenue to continually meet new customers and even keep your existing
        ones who could easily find an alternative to your product or service on the Internet.

      </p>

      <p>
        At <b>Nuton Labs</b>, our professionals are ever-ready and glad to help you create an online presence and a website that will reflect
        the exact image of your business and help you to expand your customer base. We just don't end there, we put measures in place like for example implementing
        Search Engine Optimization on your website to improve the indexing of your website on search engines like Google, Bing and Yahoo Search when people search for
        content that you offer. This boosts traffic to your website which in turn can means boost in potential customers.
      </p>

      <p>Let us help you grow your business!</p>

      <h3>Some of the things we do to help create or improve your online presence</h3>
      <ul>
        <li>Create personal or business website</li>
        <li>Boost traffic to your website with the best SEO tools</li>
        <li>Design brand logos and banners for your website</li>
        <li>Assist in domain name registration (keywords that people type in browsers to bring them to your website)</li>
        <li>And many others</li>
      </ul>
    </div>

  </div>
</div>
