<div class="container">
  <div class="construction">

    <img src="https://www.animatedimages.org/data/media/695/animated-under-construction-image-0010.gif" border="0" alt="animated-under-construction-image-0010" />

    <p>Kindly check back later for the coolest and informative blogs</p>

  </div>
  <section *ngIf="false"class="content">
    <div class="blog">
      <img src="../../assets/img/productz-bg.jpg" alt="">
      <h2 class="blog-title">Blog title here</h2>
      <div class="blog-metadata">
        <span><i class="fa fa-calendar" aria-hidden="true"></i> June 24, 2022</span> | <span><i class="fa fa-user" aria-hidden="true"></i> author</span>
      </div>
      <p class="blog-desc">Part of blog deada jadn jnkad jna dja da d aljdnja dja dja dilad abd </p>
    </div>

    <div class="blog">
      <img src="../../assets/img/productz-bg.jpg" alt="">
      <h2 class="blog-title">Blog title here</h2>
      <div class="blog-metadata">
        <span><i class="fa fa-calendar" aria-hidden="true"></i> June 24, 2022</span> | <span><i class="fa fa-user" aria-hidden="true"></i> author</span>
      </div>
      <p class="blog-desc">Part of blog deada jadn jnkad jna dja da d aljdnja dja dja dilad abd </p>
    </div>

    <div class="blog">
      <img src="../../assets/img/productz-bg.jpg" alt="">
      <h2 class="blog-title">Blog title here</h2>
      <div class="blog-metadata">
        <span><i class="fa fa-calendar" aria-hidden="true"></i> June 24, 2022</span> | <span><i class="fa fa-user" aria-hidden="true"></i> author</span>
      </div>
      <p class="blog-desc">Part of blog deada jadn jnkad jna dja da d aljdnja dja dja dilad abd... </p> <span class="read-more">read more</span>
    </div>
  </section>
</div>
