.container{
  // padding: 1rem 7rem;

  // scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.child{
  padding: 1rem 7rem;
  scroll-snap-align: start;
  height:100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red{
  background: red url(../../assets/img/bg2.min.jpg) center center no-repeat fixed; //red url(../../assets/img/bg2.jpg) no-repeat fixed center;
  opacity: 0.8;
  color: red;
  background-size: cover;
  overflow:hidden;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.yellow{
  background: #fff;
}

.blue{
  background: blue;
}
.child .title{
  font-size: 3rem;
  color: red;
  width: 30%;
  margin-right: 5rem;
  opacity: 0;
  transform: translateY(50px);
  transition: 1s all ease;
}

.child .reveal{
  transform: translateY(0);
  opacity: 1;
}

.child .content{
  font-size: 2rem;
  font-weight: 500;
  color: #bbb;
  width: 70%;
}

.services{
  background: radial-gradient(black, transparent);
  color: #FFF !important;
}

.services-body{
  display: flex;
  justify-content: space-between;
}

.services-card{
  display: flex;
  flex-direction: column;
  background: #FFF;
  min-width: 250px;
  border-radius: 5px;
  margin: 1rem;
  padding-top: 2rem;
  border: 1px red solid;
  color: red;
  // z-index: 100;
}

.services-card:hover{
  background: red;
  color: #fff;
  cursor: pointer;
}

.services-card-head, .services-card-body{
  text-align: center;
}

.services-card-body{
  padding: 1rem 0;
}

.fa{
  font-size: 4rem;
}

.services-card-body-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.services-card-body-msg{
  font-size: .8rem;
  padding: 1rem;
  color: #aaa;
}

.box{
  background: red;
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.box-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box-child{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card{
  color: red;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.product-logo, .product-title{
  text-align: center;
  font-size: 1rem;
}

.product-logo img{
  width: 100%;
  height: 100%;
}

.product-title{
  padding-top: 1rem;
}

.child-2, .child-4, .child-6{
  opacity: 0;
  background: #fff;
  animation: slideUp 1s linear 1s forwards;
}
.child-1, .child-3, .child-5{
  opacity: 0;
  animation: slideUp 1s linear 2s forwards;
}

@media (max-width: 786px){
  .red{
    font-size: 2rem;
  }
  .child{
    padding: 1rem;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
  }

  .child .title{
    margin: 0;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .child .content{
    font-size: 1rem;
    width: 100%;
    text-align: justify;
  }

  .services-body{
    flex-direction: column;
  }

  .services-card{
    min-width: 200px;
  }

  .fa{
    font-size: 2rem;
  }

  .services-card-body-title{
    font-size: 1rem;
  }

  .services-card-body-msg{
    font-size: .7rem;
  }

  .dropping-texts {
    width: 200px !important;
    text-align: center !important;
    // height: 48px;
  }

  .dropping-texts div:nth-child(1){
    margin-left: 15px !important;
  }

  .dropping-texts div:nth-child(4){
    margin-left: -50px !important;
  }

}

.constant-text{
  position: relative;
  padding-right: 1rem;
  text-shadow: 0 2px 5px white;
  animation: slideUp 1s linear ;
}

@keyframes slideUp{
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.dropping-texts {
  display: inline-block;
  width: 400px;//200px;
  text-align: left;
  height: 100px;//48px;
  vertical-align: -2px;
  font-family: Tahoma;
  color: #FFF;

}

.dropping-texts > div {
  font-size:0px;
  opacity:0;
  margin-left:-30px;
  position:absolute;
  font-weight:700;
  text-shadow: 0 2px 5px red;
  // box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
}

.dropping-texts > div:nth-child(1) {
  animation: roll 8s linear infinite 0s;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 8s linear infinite 2s;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 8s linear infinite 4s;
}
.dropping-texts > div:nth-child(4) {
  animation: roll2 8s linear infinite 6s;
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  30% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  37% {
    font-size:1500px;
    opacity:0;
    margin-left:-1000px;
    margin-top:-800px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}







