<div class="container">
  <section class="child red">
    <!-- <img src="../../assets/img/bg2.jpg" alt=""> -->
    <div class="constant-text">we are</div>
    <div class="dropping-texts">

      <div>creative</div>
      <div>pragmatic</div>
      <div>ambitious</div>
      <div>simply the best</div>
    </div>
    <!-- <h1>
      <span>we are</span>
      <div class="message">
        <div class="word1">problem-solvers</div>
        <div class="word2">creative</div>
        <div class="word4">the best</div>
        <div class="word3">ambitious</div>

      </div>
    </h1> -->
  </section>
  <section id="about" class="child yellow">
    <div class="title">
      <h2>Why Us</h2>
    </div>

    <div class="content">
      At Nuton Labs, we design, develop and provide I.T solutions tailored to your business needs. We combine the finest craftsmanship with innovative execution and advise our clients on all digital and business decisions. We take care of your digital needs so you can focus on your core business operations.
      <p class="sidenote">Let us help your business grow!</p>
      <!-- Our clients range from individuals to startups and to established companies. -->
    </div>
  </section>
  <section id="services" class="child services">
    <div class="title ">
      <h2>Services</h2>
    </div>
    <div class="content">
      <div class="services-body">

        <a routerLink="/services/website-and-seo">
          <div class="services-card">
            <div class="services-card-head">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <!-- <i class="fa fa-code" aria-hidden="true"></i> -->
            </div>
            <div class="services-card-body">
              <div class="services-card-body-title">
                Website & SEO
                <br>Development
              </div>
              <!-- <div class="services-card-body-msg">
                We help you design and develop responsive web applications that suit your organization's needs
              </div> -->
            </div>
          </div>
        </a>



        <a routerLink="/services/software-development">
          <div class="services-card">
            <div class="services-card-head">
              <i class="fa fa-code" aria-hidden="true"></i>
            </div>
            <div class="services-card-body">
              <div class="services-card-body-title">
                Software / Application <br> Development
              </div>
              <!-- <div class="services-card-body-msg">
                We help you design and develop mobile apps for both android and ios platforms
              </div> -->
            </div>
          </div>
        </a>


        <!-- <div class="services-card">
          <div class="services-card-head">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
          </div>
          <div class="services-card-body">
            <div class="services-card-body-title">
              Network Solutions
            </div>
            <div class="services-card-body-msg">
              We provide technical support on network related issues
            </div>
          </div>
        </div> -->

      </div>

      <div class="services-body">

        <a routerLink="/services/data-entry-processing">
          <div class="services-card">
            <div class="services-card-head">
              <i class="fa fa-table" aria-hidden="true"></i>
            </div>
            <div class="services-card-body">
              <div class="services-card-body-title">
                Data Entry & Processing
              </div>
              <!-- <div class="services-card-body-msg">
                Experts in developing and managing Software-as-a-Service platforms
              </div> -->
            </div>
          </div>
        </a>


        <div class="services-card">
          <div class="services-card-head">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
          <div class="services-card-body">
            <div class="services-card-body-title">
              E-commerce
            </div>
            <!-- <div class="services-card-body-msg">
              We help you get the domain name of your business at a lower charge
            </div> -->
          </div>
        </div>

        <!-- <div class="services-card">
          <div class="services-card-head">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
          </div>
          <div class="services-card-body">
            <div class="services-card-body-title">
              Custom Designs
            </div>
            <div class="services-card-body-msg">
             Be it logos or banners, you name them. We are right there from ideation to the final beautiful product
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </section>

  <section id="products" class="child white">
    <div class="title ">
      <h2>Products</h2>
    </div>

    <div class="content">
      <div class="box">
        <div class="box-row">
          <div class="box-child child-1">

          </div>
          <div class="box-child child-2">
            <div class="product-card">
              <div class="product-logo">
                <i class="fa fa-university" aria-hidden="true"></i>
              </div>
              <div class="product-title">
                NuBanQ
              </div>
            </div>
          </div>
          <div class="box-child child-3">

          </div>
        </div>
        <div class="box-row">
          <div class="box-child child-4">
            <div class="product-card">
              <div class="product-logo">
                <a routerLink="/products/e-levy-calculator"><img src="../../assets/img/elevy.min.png" alt="e-levy calculator logo"></a>
                <!-- <i class="fa fa-calculator" aria-hidden="true"></i> -->
              </div>
              <!-- <div class="product-title">
                E-levy Calculator
              </div> -->
            </div>
          </div>
          <div class="box-child child-5">

          </div>
          <div class="box-child child-6">
            <div class="product-card">
              <div class="product-logo">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </div>
              <div class="product-title">
                NuShop
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
