<div class="container">
  <section class="child red">
    <!-- <img src="../../assets/img/bg2.jpg" alt=""> -->
    <h1>
      <span>we are</span>
      <div class="message">
        <div class="word1">problem-solvers</div>
        <div class="word2">creative</div>
        <div class="word4">the best</div>
        <div class="word3">ambitious</div>

      </div>
    </h1>
  </section>
  <section class="child yellow">
    <div class="title">
      <h2>About Us</h2>
    </div>

    <div class="content">
      At Nuton Labs, we develop software solutions tailored to your business needs. Our clients range from startups to globally established companies. We combine the finest craftsmanship with innovative design and advise our clients on all digital and business decisions.
    </div>
  </section>
  <section class="child services">
    <div class="title">
      <h2>Services</h2>
    </div>
    <div class="content">
      <div class="services-body">
        <div class="services-card">
          <div class="services-card-head">
            <i class="fa fa-cloud" aria-hidden="true"></i>
          </div>
          <div class="services-card-body">
            <div class="services-card-body-title">
              Cloud Solutions
            </div>
            <div class="services-card-body-msg">
              Experts in developing Software-as-a-Service platforms
            </div>
          </div>
        </div>

        <div class="services-card">
          <div class="services-card-head">
            <i class="fa fa-mobile" aria-hidden="true"></i>
          </div>
          <div class="services-card-body">
            <div class="services-card-body-title">
              Mobile App Development
            </div>
            <div class="services-card-body-msg">
              We help you design and develop mobile apps for both android and ios platforms
            </div>
          </div>
        </div>

        <div class="services-card">
          <div class="services-card-head">
            <i class="fa fa-code" aria-hidden="true"></i>
          </div>
          <div class="services-card-body">
            <div class="services-card-body-title">
              Web App Development
            </div>
            <div class="services-card-body-msg">
              We help you design and develop mobile apps for both android and ios platforms
            </div>
          </div>
        </div>

        <!-- <div class="services-card">
          <div class="services-card-head">
            <i class="fa fa-code" aria-hidden="true"></i>
          </div>
          <div class="services-card-body">
            <div class="services-card-body-title">
              Web App Development
            </div>
            <div class="services-card-body-msg">
              We help you design and develop mobile apps for both android and ios platforms
            </div>
          </div>
        </div> -->



        <!-- <div class="services-card">
          <div class="services-card-head">
            x
          </div>
          <div class="services-card-body">
            y
          </div>
        </div> -->

        <!-- <div class="services-card">
          <div class="services-card-head">
            x
          </div>
          <div class="services-card-body">
            y
          </div>
        </div>

        <div class="services-card">
          <div class="services-card-head">
            x
          </div>
          <div class="services-card-body">
            y
          </div>
        </div> -->
      </div>

      <div class="services-body">
        <div class="services-card">
          <div class="services-card-head">
            <i class="fa fa-code" aria-hidden="true"></i>
          </div>
          <div class="services-card-body">
            <div class="services-card-body-title">
              Network Solutions
            </div>
            <div class="services-card-body-msg">
              We help you design and develop mobile apps for both android and ios platforms
            </div>
          </div>
        </div>

        <div class="services-card">
          <div class="services-card-head">
            <i class="fa fa-code" aria-hidden="true"></i>
          </div>
          <div class="services-card-body">
            <div class="services-card-body-title">
              Domain Registration
            </div>
            <div class="services-card-body-msg">
              We help you design and develop mobile apps for both android and ios platforms
            </div>
          </div>
        </div>

        <div class="services-card">
          <div class="services-card-head">
            <i class="fa fa-code" aria-hidden="true"></i>
          </div>
          <div class="services-card-body">
            <div class="services-card-body-title">
              Custom Designs
            </div>
            <div class="services-card-body-msg">
              We help you design and develop mobile apps for both android and ios platforms
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="child yellow">
    <div class="title">
      <h2>Projects</h2>
    </div>

    <div class="content">
      At Nuton Labs, we develop software solutions tailored to your business needs. Our clients range from startups to globally established companies. We combine the finest craftsmanship with innovative design and advise our clients on all digital and business decisions.
    </div>
  </section>
</div>
