<div class="container">
  <div class="top">
    <div class="page-title">
      Website & SEO
    </div>
  </div>
  <div class="mid">
    <div class="content">
      <p>
        Whether you are a start-up or a mid-sized company, Nuton Labs is always glad to assist at all stages of software development.
        We design and create quality custom software applications which are reliable, secure, easy-to-use, affordable, easy-to-deploy, and scalable.
      </p>

      <p>
        Be it web, mobile, desktop applications or API integration,

      </p>

      <p>
        At <b>Nuton Labs</b>, our professionals are ever-ready and glad to help you create an online presence and a website that will reflect
        the exact image of your business and help you to expand your customer base. We just don't end there, we put measures in place like for example implementing
        Search Engine Optimization on your website to improve the indexing of your website on search engines like Google, Bing and Yahoo Search when people search for
        content that you offer. This boosts traffic to your website which means boost in potential customers.
      </p>

      <p>Let us help you grow your business!</p>

      <h3>Some of the things we do to help create or improve your online presence</h3>
      <ul>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Create personal or business website</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Boost traffic to your website with the best SEO tools</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Design brand logos and banners for your website</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Content development and management</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Assist in domain name registration (keywords that people type in browsers to bring them to your website)</li>
        <li>And many others</li>
      </ul>
    </div>

  </div>
</div>
